<%= content_for(:title, t('nav.about')) %>
<div class="prose">
  <h1>Допоможи вижити</h1>
  <p>
    В цей час, коли українці в усьому світі згрупувались, щоб дати належну відсіч ворогу, багато мирного невинного населення страждає і потребує допомоги. Люди сидять в бомбосховищах, підвалах, метро цілодобово, і часто не мають можливості забезпечити себе усім необхідним. Логістика та мобільність порушена, в магазинах закінчились продукти, а в аптеках &ndash; ліки. Маленькі діти потребують харчування та засобів гігієни, літні люди потребують ліків.
  </p>
  <p>
    Цей сервіс був розроблений буквально за пару днів спільними зусиллями для координації допомоги мирним людям по території усієї України. Фукнціонал постійно доповнюється. З одного боку, люди мають можливість попросити допомогу, з іншого боку, волонтери мають можливість переглянути, кому потрібна допомога в їх місті чи локації.
  </p>
  <p>Поширь інформацію про сервіс в місцевих групах, адже це рятує життя.</p>
  <p>
    Приєднуйтесь до нашої групи в <a href="https://t.me/keepalive_ua">Telegram</a>
  </p>
  <h3>Новини проекту</h3>
  <h4>2 березня 2022р</h4>
  <ul>
    <li>Показуємо чутливі дані як картинки, щоб уникнути втечі даних</li>
    <li>Додали можливість вказати район</li>
  </ul>
  <h4>1 березня 2022р</h4>
  <ul>
    <li>Можливість заявити готовність допомагати</li>
    <li>Перевірені коментарі від модераторів</li>
    <li>Мобільна версія списку</li>
    <li>Вимагаємо хоч якісь контактні дані</li>
  </ul>
  <h4>28 лютого 2022р</h4>
  <ul>
    <li>Базовий функціонал, можливість зробити заклик на допомогу, залишити контактні дані щоб інші мали змогу відгукнутись. Є можливість модерації</li>
  </ul>
  <h4>Наступні кроки</h4>
  <ul>
    <li>Додати теги для запитів. Пошук по тегам.</li>
    <li>Геолокація. Нотифікації про нові запити біля вас</li>
    <li>Завантаження зображень</li>
  </ul>
  <p>Список запланованих функцій знаходиться <a href="https://github.com/Kukunin/keep-alive/issues">тут</a> </p>
  <p>Приєднуйся до розробки в <a href="https://github.com/Kukunin/keep-alive">GitHub</a>.</p>
</div>
