<%= turbo_frame_tag "warnings" do %>
  <% if @warnings.include?('disclaimer') %>
    <div class="rounded-md bg-red-50 p-4 mb-8">
      <div class="flex">
        <div class="flex-shrink-0">
          <%= heroicon 'exclamation', variant: :solid, options: { class: 'h-5 w-5 mt-1 text-red-400' } %>
        </div>
        <div class="ml-3">
          <h3 class="font-medium text-red-800">Увага!</h3>
          <div class="mt-2 text-red-700">
            <p class="mb-1">
              Інформація на даному ресурсі збирається з відкритих джерел різними людьми. Перевірити достовірність такого потоку інформації не є можливим.
            </p>
            <p>
              Не виключено, що ресурсом може скористуватись ворог. Будьте пильні та обережні!
            </p>
          </div>
        </div>
        <div class="ml-auto pl-3">
          <div class="-mx-1.5 -my-1.5">
            <%= button_to warning_path('disclaimer'), class: 'inline-flex bg-red-50 rounded-md p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-red-50 focus:ring-red-600', method: :put do %>
              <span class="sr-only">Dismiss</span>
              <%= heroicon 'x', variant: :solid, options: { class: 'h-5 w-5' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
